img {

    float: left;
    margin: 50px;
}

.cyber {

    float: right;
}

.cloud {

    float: right;
}

.dev {

    float: right;
}

.edge {

    float: right;
}

body {

    border: 10px;
    margin: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

h1 {

    text-decoration: underline;
}