body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1d1d1f;
    background-color:#f5f5f7;
}

h2 {

    color: white;
    background-color:rgb(25,103,210);
    font-size: x-large;
}

